---
import Layout from '../layouts/Layout.astro';

const seo = {
    // title: 'Astro Boilerplate - Home',
    // description: 'A minimal and powerful Astro boilerplate for fast web development.',
    // social: {
    //     facebook: {
    //         title: 'Astro Boilerplate - Facebook',
    //         description: 'A minimal starter built with Astro. Fast, clean and scalable.',
    //         image: {
    //             url: '/cover-home.jpg' // You can change this path if you have a different image
    //         }
    //     },
    //     twitter: {
    //         creator: '@anas_dev',
    //         title: 'Astro Boilerplate - Twitter',
    //         description: 'Start fast with this clean Astro boilerplate.',
    //         image: {
    //             url: '/cover-home.jpg'
    //         }
    //     }
    // },
    // advanced: {
    //     robots: ['index', 'follow'],
    //     canonical: 'https://yourdomain.com/' // replace with your real domain
    // }
};

const images = [
    { src: '/images/darkone.webp', rotate: 8 },
    { src: '/images/orangeone.webp', rotate: 8 },
    { src: '/images/softone.webp', rotate: 4 },
    { src: '/images/gifone.gif', rotate: 0 }
];
---

<Layout title="Home" seo={seo}>
    <section class="container max-w-lg">
        <div class="mt-20"></div>
        <!--  -->
        <div class="relative w-full aspect-10/4 bg-black rounded-3xl">
            <div
                class="absolute bottom-0 translate-y-1/2 translate-x-3/10 w-30 aspect-square rounded-full bg-black border-4 border-white"
            >
                <div
                    class="absolute bottom-0 right-0 w-8 aspect-square rounded-full bg-orange-500 border-2 border-white"
                >
                </div>
            </div>
        </div>
        <!--  -->
        <div class="mt-30"></div>
        <!--  -->
        <section class="flex flex-col gap-4">
            <div class="font-semibold">Story</div>
            <p class="flex flex-col gap-2 text-black/60">
                <span
                    >I've always been that curious, creative kid. At 10, I was drawing for fun and
                    even selling my sketches to friends at school.</span
                >
                <span
                    >That love for making things never stopped. In 2019, I stumbled into code, and
                    something just clicked. It felt right, like I'd finally found my place.</span
                >
                <span
                    >Today, I craft human-centered digital experiences that are smooth, interactive,
                    and made to connect with people in meaningful ways.</span
                >
                <span>Still that same kid, just with pixels instead of pencils.</span>
            </p>
        </section>
        <!--  -->
        <div class="mt-10"></div>
        <!--  -->
        <section class="flex flex-col gap-4">
            <div class="font-semibold">Now</div>
            <p class="flex flex-col gap-2 text-black/60">
                <span
                    >Right now, I'm learning more about code and design to push my frontend work
                    even further.</span
                >
                <span
                    >I'm always experimenting, testing animations, building new features, and
                    staying curious.</span
                >
                <span
                    >The job title I love using is: <span
                        class="text-black border border-black/50 rounded py-0.25 px-1"
                        >UX Engineer</span
                    >. Open to opportunities, collaborations, or just a good conversation.</span
                >
            </p>
        </section>
        <!--  -->
        <div class="mt-16"></div>
</Layout>
