---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="w-full h-full flex items-center justify-center bg-white">
        <div class="container max-w-xl bg-transparent text-black">
            <h1 class="text-6xl mb-5">Boilerplate</h1>
            <p class="text-lg text-black/60 font-extralight">
                A minimal Astro boilerplate designed for quick project setup. It provides a clean,
                scalable structure with essential configurations. Perfect for jumpstarting future
                Astro-based web projects fast.
            </p>
        </div>
    </section>
</Layout>
