---
import '../styles/main.css';
import { SEO } from 'astro-seo';
import { defaultSeo } from '../data/seo';
import { getSeo } from '../utils/seo';

interface Props {
    title: string;
    seo?: Seo;
}

const { title, seo = {} } = Astro.props;

const seoData = getSeo(seo, defaultSeo, title);

const FONTS: string[] = [
    // 'WebfontRegular.woff2',
    // 'WebfontBold.woff2',
];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <SEO {...seoData} />

        <!-- Fonts -->
        {
            FONTS.map((font) => (
                <link
                    rel="preload"
                    href={`/fonts/${font}`}
                    as="font"
                    type="font/woff2"
                    crossorigin
                />
            ))
        }
        <!--/ FONTS -->
    </head>
    <body>
        <main
            id="swup"
            class="transition-fade relative w-full min-h-[100dvh] overflow-hidden h-full"
        >
            <slot />
        </main>
        <script src="../scripts/app.ts"></script>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
